.AboutMain{
    margin: 20px 200px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: 520px 520px 520px 300px ;
}
.Aboutus{
    grid-column: 1/2;
    grid-row: 1/2;
}
#AboutusH{
    font-size: 70px;
    font-weight: 600;
}
#AboutT , #AimsT , #FutureT{
    font-size: 23px;
}
#Abouti1{
    grid-column: 2/3;
    grid-row: 1/2;
    background-size: cover;
    border-radius: 30px;
}
.Aims{
    grid-column: 2/3;
    grid-row: 2/3;
}
#Abouti2{
    grid-column: 1/2;
    grid-row: 2/3;
    background-size: cover;
    border-radius: 30px;
    background-position: 0px -40px;
}
#Future{
    grid-column: 1/2;
    grid-row: 3/4;
}
#Abouti3{
    grid-column: 2/3;
    grid-row: 3/4;
    background-size: cover;
    background-position: 0px -30px;
}
.AboutR{
    grid-column: 1/2;
    grid-row: 4/5;
    margin-top: 40px;
}
.AboutR1{
    grid-column: 2/3;
    grid-row: 4/5;
    margin-top: 40px;
}
#Aboutit{
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
}
#AboutitP{
    grid-column: 1/2;
    grid-row: 4/5;
    font-style: italic;
    font-weight: 400;
    font-size: 35px;
}
@media screen and (max-width: 435px){
    .AboutMain{
        margin: 5px 15px;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(2, 190px);
        grid-template-rows: repeat(4, 190px);
    }
    #AboutusH{
        font-size: 20px;
        font-weight: 600;
    }
    #AboutT , #AimsT , #FutureT{
        font-size: 11.8px;
    }
    #Abouti2{
        background-position: -5px 0px;
    }
    #Abouti3{
        background-position: 0px -10px;
    }
    .AboutR{
        margin-top: 20px;
    }
    .AboutR1{
        margin-top: 20px;
    }
    #Aboutit{
        font-style: italic;
        font-weight: 500;
        font-size: 20px;
    }
    #AboutitP{
        grid-column: 1/2;
        grid-row: 4/5;
        font-style: italic;
        font-weight: 400;
        font-size: 15px;
    }
}
@media screen and (max-width: 390px){
    .AboutMain{
        margin: 5px 15px;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(4, 180px);
    }
    #AboutT , #AimsT , #FutureT{
        font-size: 11px;
        line-height: 1.3
    }
    #AboutusH{
        font-size: 16px;
        font-weight: 600;
    }
    
}
@media screen and (max-width: 380px){
    .AboutMain{
        margin: 5px 15px;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(4, 180px);
    }
    #AboutT , #AimsT , #FutureT{
        font-size: 11px;
        line-height: 1.3
    }
    #AboutusH{
        font-size: 18px;
        font-weight: 600;
    }
    
}
@media screen and (max-width: 320px){
    .AboutMain{
        margin: 5px 10px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(4, 150px);
    }
    #AboutT , #AimsT , #FutureT{
        font-size: 10px;
        line-height: 1.2
    }
    #AboutusH{
        font-size: 15px;
        font-weight: 600;
    }
    .AboutR{
        margin-top: 20px;
    }
    .AboutR1{
        margin-top: 20px;
    }
    #Aboutit{
        font-style: italic;
        font-weight: 500;
        font-size: 15px;
    }
    #AboutitP{
        grid-column: 1/2;
        grid-row: 4/5;
        font-style: italic;
        font-weight: 400;
        font-size: 13px;
    }
    
}